.contacts {

  &__container {
    padding: 0 15px;
  }

  &__item {
    max-width: 400px;

    display: flex;
    flex-direction: column;


    padding: 10px;

    border: 1px solid black;

    margin-bottom: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;


    margin-bottom: 20px;
  }

  &__add-form {
    max-width: 400px;

    border: 1px solid rgba(0,0,0, 0.5);

    margin-top: 10px;
    padding: 10px;

    .inputs-block {
      margin-bottom: 10px;
    }
  }

  &__edit-form {
    margin-top: 10px;

    padding-top: 10px;

    border-top: 1px solid rgba(0,0,0, 0.2);

    .inputs-block {
      margin-bottom: 10px;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}